[submodule "ThirdParty/SDL2"]
	path = ThirdParty/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "ThirdParty/SDL"]
	path = ThirdParty/SDL
	url = https://github.com/libsdl-org/SDL.git
